<header class="header">
  {{#if user}}
    <nav class="nav-left">
        <a href="/">Home</a>
        <a href="/categorias">Categorias</a>
        <a href="/posts">Postagens</a>
    </nav>
  {{else}}
    <nav class="nav-left">
      <a href="/">Home</a>
    </nav>
  {{/if}}
    <a href="/" class="logo">MeuBlog</a>
    {{#if user}}
    <nav class="nav-right">
          <p>Olá, {{user.nome}}</p>
          <a href="/usuarios/logout">Sair</a>
    </nav>
    {{else}}
    <nav class="nav-right">
        <a href="/usuarios/login">Login</a>
        <a href="/usuarios/registro">Cadastro</a>
    </nav>
    {{/if}}
</header>