<div class="categorias-container">
    <nav class="categorias-nav">

        <a class="categoria-link ativo" href="/posts">Todos</a>

        {{#each categorias}}
            <a class="categoria-link" href="src_posts/{{_id}}">
                {{nome}}
            </a>
        {{else}}
            <span class="sem-categorias">Nenhuma categoria cadastrada</span>
        {{/each}}

    </nav>
</div>