<div class="login-wrapper">
    <div class="card login-card p-4">
        <h2 class="text-center mb-4 login-title">LOGIN</h2>

        <div class="card-body">
            <form action="/usuarios/login" method="POST">

                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input 
                        type="email" 
                        class="form-control login-input" 
                        name="email" 
                        placeholder="seu@email.com"
                        required
                    >
                </div>

                <div class="mb-3">
                    <label for="senha" class="form-label">Senha</label>
                    <input 
                        type="password" 
                        name="senha" 
                        class="form-control login-input"
                        required
                    >
                </div>

                <button type="submit" class="btn-login w-100 mt-3">
                    Entrar
                </button>

            </form>
        </div>
    </div>
</div>